@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?138ngo');
  src:  url('../fonts/icomoon.eot?138ngo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?138ngo') format('truetype'),
    url('../fonts/icomoon.woff?138ngo') format('woff'),
    url('../fonts/icomoon.svg?138ngo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
  content: "\e90d";
}
.icon-books-stack:before {
  content: "\e900";
}
.icon-microphone-black-shape:before {
  content: "\e901";
}
.icon-group-1:before {
  content: "\e902";
}
.icon-trophy-cup-silhouette:before {
  content: "\e903";
}
.icon-play-rounded-button:before {
  content: "\e904";
}
.icon-time-management-clock:before {
  content: "\e905";
}
.icon-people:before {
  content: "\e906";
}
.icon-group:before {
  content: "\e907";
}
.icon-businessman:before {
  content: "\e908";
}
.icon-man-talking-by-mic-on-a-presentation:before {
  content: "\e909";
}
.icon-political-candidate-speech:before {
  content: "\e90a";
}
.icon-play-button:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
